---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import googleMapsOverlayImg from "../images/praxis_maps.png";
import manager from "../images/schuellner_cropped.jpg";
import GoogleMaps from "../components/GoogleMaps.astro";
import Picture from "astro/components/Picture.astro";
const therapeutenCollection = await getCollection("therapeuten");
---

<style>
  article {
    display: flex;
    gap: 0.75em;
    flex-flow: column nowrap;
  }

  .center {
    align-self: center;
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  address {
    display: flex;
    flex-flow: column nowrap;
  }

  #profiles {
    display: flex;
    flex-flow: column;
    gap: 1em;
  }

  main {
    max-width: min(100%, var(--main-content-max-width));
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;
  }

  main > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
  }

  @media (min-width: 768px) {
    main > div {
      max-width: 45%;
    }
  }

  .roundPicture img {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
</style>

<Layout title="Kontakt">
  <main>
    <div>
      <article>
        <h1>Vereinbarung von Erstgesprächen</h1>
        <p>
          Um ein persönliches Erstgespräch zu vereinbaren, können Sie sich oder
          kannst du dich gerne an unsere Praxismanagerin <b>Selena Costantini</b
          >
          wenden.
        </p>
        <div class="center roundPicture">
          <Picture
            src={manager}
            height={700}
            width={700}
            quality={80}
            alt="Praxismanagering"
          />
        </div>
        <address id="contact">
          <a href="tel:015174369929">01517 / 4369929</a>
          <a href="mailto:info@kjp-meerbusch.de">info@kjp-meerbusch.de</a>
        </address>
        <p>
          Bitte entnehmen Sie die aktuellen telefonischen Sprechzeiten immer
          unserer Mailboxansage.
        </p>
      </article>
      <div id="profiles">
        <h1>Persönliche Kontaktdaten unserer Therapeuten</h1>
        {
          therapeutenCollection.map((therapeut) => (
            <section>
              <h3>{therapeut.data.displayName}</h3>
              <address>
                <a href={`tel:${therapeut.data.phone}`}>
                  {therapeut.data.phone}
                </a>
                <a href={`mailto:${therapeut.data.email}`}>
                  {therapeut.data.email}
                </a>
              </address>
            </section>
          ))
        }
      </div>
    </div>
    <div>
      <article>
        <h1>Anreise</h1>
        <h2>Mit dem Auto</h2>
        <p>
          Psychotherapeutische Praxis für Kinder und Jugendliche<br />
          Moerser Straße 100b 40667 Meerbusch
        </p>
        <p>Kostenlose Parkplätze sind direkt an der Praxis vorhanden.</p>
        <h2>Mit öffentlichen Verkehrsmitteln</h2>
        <p>Mit der U74 und U76 – Haltestelle Forsthaus</p>
        <p>Mit dem Bus 829 und 830 – Haltestelle Blumenstraße</p>
      </article>
    </div>
    <GoogleMaps
      height={400}
      src={`https://www.google.com/maps/embed/v1/place?q=kjp%20meerbusch&key=${
        import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY
      }`}
      allowFullScreen
      imageProps={{
        alt: "Google Maps Link zur Praxis",
        src: googleMapsOverlayImg,
      }}
    />
  </main>
</Layout>
