---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import FileText from "feather-icons/dist/icons/file-text.svg?raw";
import { getCollection } from "astro:content";
const allTherapeuten = await getCollection("therapeuten");
---

<style>
  main :global(img) {
    object-fit: cover;
    object-position: center;
  }

  main :global(picture) {
    width: 100%;
  }

  main {
    margin: auto;
    text-align: center;
    max-width: var(--main-content-max-width);
    width: 100%;
  }

  main > section {
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }

  article picture img {
    max-width: 350px;
    max-height: 400px;
  }

  article {
    border: 1px solid var(--border-color-secondary);
    display: flex;
    gap: 1em;
    padding-bottom: 1em;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    align-items: center;
  }

  article span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article span :global(svg) {
    margin-right: 0.5em;
  }
</style>

<Layout title="KJP Meerbusch">
  <main>
    <h1>Therapeuten</h1>
    <section>
      {
        allTherapeuten.map(({ slug, data, body }) => {
          const withoutWhitespace = body.replace(/\s/g, "");
          const hasVita = withoutWhitespace?.length > 0;
          const profileName = (
            <span>
              {hasVita && <Fragment set:html={FileText} />} {data.displayName}
            </span>
          );
          return (
            <article>
              <Picture
                src={data.photo}
                width={700}
                quality={80}
                alt={data.photoAlt}
              />
              <h2>
                {hasVita ? (
                  <a href={`/therapeuten/${slug}`}>{profileName}</a>
                ) : (
                  profileName
                )}
              </h2>
            </article>
          );
        })
      }
    </section>
  </main>
</Layout>
